# Ignoring the following files
# General ignore
.DS_Store
downloads/

# Ignore apps folder because it contains git repos inside
apps/

# Ignore vagrant main folder as it will be built with vagrant up
.vagrant/
